@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
    font-family: 'moonflower';
    src: url('fonts/moon_flower_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_flower_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
  font-family: sans-serif;
  color: #343434;
  background: #fffaf2;
}

a {
	color: #343434;
	text-decoration: none;
}

a:hover, a:focus {
	color: #343434;
	text-decoration: underline;
}

p {
  font-family: 'Kiwi Maru', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

strong {
  font-weight: 500;
}

h1 {  
  font-family: moonflower, sans-serif;
  color: #000000;
  font-size: 55px;
  margin-bottom: 0;
}

.nutrizione h1, .yoga h1 {  
  font-size: 65px;
}

h2 {  
  font-family: moonflower, sans-serif;
  color: #3a3a3a;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 50px;
}

.ulivo {
  width: 150px;
  position: absolute; 
  top: 0; 
  left: 0;
}

.imgcentrale {
  margin-top: 160px;
  width: 100%; 
  max-width: 400px;
}

.simboli {
  margin: 30px 0 100px;
}

.nutrizione {
  background-color: #fdc362;
}

.nutrititle {
  height: 350px;
  background: url("img/bg_nutrizione.jpg") no-repeat;
  background-size: contain;
  background-position: center; 
}

.nutrititle h1 {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}

.nutritext {
  height: 420px;
  padding: 0 20px
}

.nutritext p {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.yogatext {
  height: 400px;
  padding: 0 20px
}

.yogatext p {
  position: relative;
  top: 45%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.yoga {
  background-color: #9bdda8;
}

.yogatitle {
  height: 350px;
  background: url("img/lotus.png") no-repeat;
  background-position: center; 
}

.yogatitle h1 {
  text-align: center;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  margin: 0;
}

.contatti {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}

.divzucca {
  text-align: center;
}

.zucca {
  width: 100%;
  max-width: 335px;
  margin-top: 100px;
}

.iconcontainer {
  margin-right: 10px;
  display: inline-block;
}

#scrollUp {
  background-image: url("img/scrolltotop.png");
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 19px;
}

.footer {
  height: 80px;
  background: url("img/striscia.jpg") repeat-x;
  background-size: auto 80px;
}

/* YOGA */
.yogaheader .imgcentrale {
  margin-top: 20px;
  max-width: 200px;
}

.yogaimgcentrale {
  margin-bottom: 20px;
}

.yogapage {
  margin-bottom: 150px;
}

.yogapage p, .yogapage li, .yogapage h1, .yogapage h2 {
  font-family: 'Montserrat', sans-serif;
}

.yogapage strong {
  font-weight: 600;  
}

.section1 {
  margin: 40px 0;
}

.section2 {
  margin: 40px 0 20px;
}

.section3 {
  margin: 40px 0 20px;
}

.boxtext {
  padding: 20px 0;
}

ul.lotus {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.lotus li {
  background: url('img/lotus.svg') no-repeat left top;
  background-size: 30px;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}

.section4 h1 {
  color: #367ec2;
  font-size: 35px;
}

.section0 h1 {
  font-size: 35px;
}

.section4 h2 {
  margin-top:20px; 
  color:#28659e;
  font-size: 25px;
}

.section4 h3 {
  line-height: 30px; 
  color: orangered;
}

.section4 a {
  color: orangered;
  text-decoration: underline;
}

.section5 {
  margin-top: 100px;
}

.section5 h2 {
  color: #367ec2;
  margin: 20px 0;
  font-size: 25px;
}

.yogabio {
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 75px;
  }

  p, li {
    font-size: 21px;
    line-height: 30px;    
  }

  .yogatext {
    height: 350px;
  }

  .nutritext {
    height: 350px;
  }
    
  .nutrizione h1, .yoga h1 {
    font-size: 80px;
  }
   
  .footer {
    height: 105px;
    background-size: auto auto;
  }
  
  .iconcontainer {
    width: 50px;
    text-align: right;
    margin-right: 10px;
    display: inline-block;
  }
  
  .nutrititle {
    background-size: cover; 
  }

  .yogaheader .imgcentrale {
    margin-top: 80px;
    max-width: 400px;
  }
  
  .yogaimgcentrale {
    margin-bottom: 20px;
  }
  
  .section1 {
    margin: 80px 0;
  }
  
  .section2 {
    margin: 80px 0 60px;
  }
  
  .section3 {
    margin: 40px 0 60px;
  }
  
  ul.lotus li {
    font-size: 21px;
  }
  
  .section4 h1 {
    font-size: 75px;
  }

  .section0 {
    margin-top: 60px;
  }
    
  .section0 h1 {
    font-size: 50px;
  }
  
  .section4 h2 {
    font-size: 35px;
  }

  .section5 {
    margin-top: 150px;
  }     

  .section5 h2 {
    margin: 0 0 20px;
    font-size: 35px;
  }

  .yogabio {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .imgcentrale {
    margin-top: 120px;
  }
  
  .ulivo {
    width: 100%; 
    max-width: 283px;
  }

  .contatti {
    margin-top: 180px;
    text-align: left;
    margin-bottom: 150px;
  }
  
  .iconcontainer {
    text-align: center;
  }

  .divzucca {
    text-align: right;
  }
  
  .zucca {
    max-width: 400px;
  }

  .padfooter {
    padding: 0 40px;
  }
}